/ForKivy
/ForPythonSmartContract
/items.csv
/oop-lesson-encapsulation.py
/oop-lesson-inheritance.py
/oop_lesson.py
/pongg.gif
/snake game.py
/tetries.py
/Tetris - Starter File.py
/turtle testing.py
/__pycache__