{% extends 'index.html' %} 
<!--The above line inherits from index.html. the exact layout of the page
it ensures uniformity -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
{% block content %}
<body>
    <!--with this block content we can change the content of this particular page-->
    <h2>Contact information</h2>
    <p style="text-align: center;">This page will contain contact information</p>
</body>
{% endblock %}
</html>