<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django templating </title>
</head>
<body style="text-align: center;">
    <p>This page contains profile information of industry leading engineerers </p>
    <ul>
        <li>Maryeel kennedy</li>
            <li>CEO/President - Shadow Company Inc. 
            <p>Graduated in 1993 from stamford college with a degree in marien biology
                    she is very devoted and dedicated to her work.
            </p>
            </li>
        <li>Simon Kane</li>
            <li>Vice President</li>
                <p>Started from the bottom now, hes here</p>
    </ul>
</body>
</html>